# ===== IDE =====
.idea/
.vscode/

# ===== Python / Django =====
__pycache__/
*.pyc
*.pyo
.env
db.sqlite3
staticfiles/

# ===== Node / React =====
node_modules/
frontend/node_modules/
frontend/build/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log
