.scroll-arrow-wrap {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.scroll-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  text-decoration: none;
  color: inherit;
}


.scroll-arrow .chevron{
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.scroll-arrow .chevron:first-child{
  animation: move-chevron 3s ease-out 1s infinite;
}

.scroll-arrow .chevron:nth-child(2){
  animation: move-chevron 3s ease-out 2s infinite;
}

.scroll-arrow .chevron::before,
.scroll-arrow .chevron::after{
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: rgba(255,255,255,0.85);
}

.scroll-arrow .chevron::before{
  left: 0;
  transform: skewY(30deg);
}

.scroll-arrow .chevron::after{
  right: 0;
  transform: skewY(-30deg);
}

@keyframes move-chevron{
  25% { opacity: 1; }
  33.3%{ opacity: 1; transform: translateY(2.28rem); }
  66.6%{ opacity: 1; transform: translateY(3.12rem); }
  100% { opacity: 0; transform: translateY(4.8rem) scale(0.5); }
}
